<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>predictor</servlet-name>
        <servlet-class>ass1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>predictor</servlet-name>
        <url-pattern>/ass1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>calc</servlet-name>
        <servlet-class>sample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>calc</servlet-name>
        <url-pattern>/sample</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/HelloWorldServlet</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>serve1</servlet-name>
        <servlet-class>serve1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>serve1</servlet-name>
        <url-pattern>/serve1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>web8</servlet-name>
        <servlet-class>TravelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>web8</servlet-name>
        <url-pattern>/TravelServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>web9</servlet-name>
        <servlet-class>session</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>web9</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>session2</servlet-name>
        <servlet-class>session2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>session2</servlet-name>
        <url-pattern>/session2</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>session1</servlet-name>
        <servlet-class>session1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>session1</servlet-name>
        <url-pattern>/session1</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>compatibility</servlet-name>
        <servlet-class>compatibility</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>compatibility</servlet-name>
        <url-pattern>/compatibility</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>p12_db1</servlet-name>
        <servlet-class>p12_db1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>p12_db1</servlet-name>
        <url-pattern>/p12_db1</url-pattern>
    </servlet-mapping>
    <!--  Program p12_db2.java  -->
    <servlet>
        <servlet-name>p12_db2</servlet-name>
        <servlet-class>p12_db2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>p12_db2</servlet-name>
        <url-pattern>/p12_db2</url-pattern>
    </servlet-mapping>
    <!--  Program p12_db3.java  -->
    <servlet>
        <servlet-name>p12_db3</servlet-name>
        <servlet-class>p12_db3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>p12_db3</servlet-name>
        <url-pattern>/p12_db3</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>tour_booking</servlet-name>
        <servlet-class>tour_booking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tour_booking</servlet-name>
        <url-pattern>/tour_booking</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>tour_review</servlet-name>
        <servlet-class>tour_review</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tour_review</servlet-name>
        <url-pattern>/tour_review</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>tour_delete</servlet-name>
        <servlet-class>tour_delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tour_delete</servlet-name>
        <url-pattern>/tour_delete</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>view_bookings</servlet-name>
        <servlet-class>view_bookings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>view_bookings</servlet-name>
        <url-pattern>/view_bookings</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>view_reviews</servlet-name>
        <servlet-class>view_reviews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>view_reviews</servlet-name>
        <url-pattern>/view_reviews</url-pattern>
    </servlet-mapping>
</web-app>